/* Per buona pratica elimino le impostazioni base del browser */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stabilisco iniziali dimensioni del sito per aiutarmi a stabilirne meglio la struttura */

#container {
  width: 100%;
  height: 5000px;
}

/* Per comodità ne metto un colore  */

body {
  background-color: lightgray;
}

/* Sempre per comodità stabilisco delle dimensioni al header  */

header {
  width: 100%;
  /* height: 800px; Una volta stabilita la dimensione dei div diventa obsoleto*/
}

/* Mi stablisco delle dimensioni degli elementi del header */

#suphead, #midhead {
  width: 100%;
  height: 80px;
}

#suphead {
  background-color: lightblue;
  position: fixed;
  z-index: 99;
}

/* Mi occupo del layout della parte fisssa */

#leftfix {
  position: absolute;
  left: 20%;
  /* width: 40%; */
  top: 50%;
  transform: translate(00%,-50%);
}

#leftfix a,#leftfix hr, #leftfix form {
  display: inline-block;
}

#leftfix a {
  text-decoration: none;
}

#leftfix {
  font-size: 19px;
}

#leftfix form {
  border: none;
}

#rightfix {
  position: absolute;
  right: 20%;
  /* width: 40%; */
  top: 50%;
  transform: translate(00%,-50%);
}

#but1 {
  color: red;
  background-color: white;
  padding: 10px 20px;
  border: solid 2px orange;
}

#but2 {
  color: white;
  background-color: red;
  padding: 10px 20px;


}

#midhead {
  /* background-color: green; */
  position: relative;
  top: 80px;
  z-index: 98;
}

#leftfix2 {
  position: absolute;
  left: 19%;
  /* width: 40%; */
  /* top: 50%;
  transform: translate(00%,-50%); */
}

#rightfix2 {
  position: absolute;
  right: 10%;
  /* width: 40%; */
  top: 50%;
  transform: translate(00%,-50%);
}

#rightfix2 a {
  font-size: 19px;
  text-decoration: none;
}

#rightfix2 form, rightfix2 a {
  display: inline-block;
  margin: 0px 10px;
}

#sitelogo {
  width: 180px;
  height: 80px;
}

#bothead {
  width: 100%;
  height: 700px;
  background: url(img/headback.png);
  background-color: yellow;
  position: relative;
  top: 76px;
}

/* Mi stabilisco le dimensioni degli elementi dei div main */

#supmain, #botmain {
  width: 100%;
  height: 1200px;
  background-color: white;
}

#midmain {
  width: 100%;
  height: 800px;
  background-color: blue;
}










































/* Mi metto la icona del chat */

#chat img {
  position: fixed;
  top: 92%;
  left: 96%;
  width: 50px;
  height: 50px;
}
