/* Per buona pratica elimino le impostazioni base del browser */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Stabilisco iniziali dimensioni del sito per aiutarmi a stabilirne meglio la struttura */

#container {
  width: 100%;
  /* height: 5000px; */
}

/* Per comodità ne metto un colore  */

/* body {
  background-color: lightgray;
} */

/* Sempre per comodità stabilisco delle dimensioni al header  */

header {
  width: 100%;
  position: relative;
  /* height: 800px; Una volta stabilita la dimensione dei div diventa obsoleto*/
}

main {
  position: relative;
}


/* Mi stablisco delle dimensioni degli elementi del header */

#suphead, #midhead {
  width: 100%;
  height: 80px;
}

#suphead {
  background-color: lightblue;
  position: fixed;
  z-index: 99;
}

#midhead {
  background-color: white;
}

/* Mi occupo del layout della parte fisssa */

#leftfix {
  position: absolute;
  left: 20%;
  /* width: 40%; */
  top: 50%;
  transform: translate(00%,-50%);
}

#leftfix a,#leftfix hr, #leftfix select {
  display: inline-block;
}

#leftfix a {
  text-decoration: none;
}

#leftfix {
  font-size: 19px;
}

#leftfix form {
  border: none;
}

#rightfix {
  position: absolute;
  right: 20%;
  /* width: 40%; */
  top: 50%;
  transform: translate(00%,-50%);
}

#rightfix img {
  position: absolute;
  top: 5%;
  left: -18%;
}


#but1 {
  color: red;
  background-color: white;
  padding: 10px 20px;
  border: solid 2px orange;
}

#but2 {
  color: white;
  background-color: red;
  padding: 10px 20px;


}

#midhead {
  /* background-color: green; */
  position: relative;
  top: 80px;
  z-index: 98;
}

#leftfix2 {
  position: absolute;
  left: 19%;
  /* width: 40%; */
  /* top: 50%;
  transform: translate(00%,-50%); */
}

#rightfix2 {
  position: absolute;
  right: 10%;
  /* width: 40%; */
  top: 50%;
  transform: translate(00%,-50%);
}

#rightfix2 a {
  font-size: 19px;
  text-decoration: none;
}

#rightfix2 li {
  display: inline-block;
  margin: 0px 15px;
}

#rightfix2 ul {
  margin-right: 180px;
}


#sitelogo {
  width: 180px;
  height: 80px;
}

#bothead {
  width: 100%;
  height: 700px;
  background: url(img/headback.png);
  position: relative;
  top: 76px;
}

#textelement {
  position: absolute;
  left: 20%;
  width: 25%;
  height: 100%;
  top: 15%;


}

#textelement h1 {
  color: white;
  font-size: 60px;
  margin: 0px 0px 30px 0px;

}

#textelement button {
  padding: 20px;
  background-color: white;
  font-size: 18px;
  text-align: center;
  margin-bottom: 25px;
  border-radius: 5%;
}

#textelement #bigtext {
  color: white;
  line-height: 30px;
  margin-bottom: 20px;
}

#textelement #smalltext {
  color: white;
  margin-bottom: -50px;
}


/* Mi stabilisco le dimensioni degli elementi dei div main */

#supmain, #botmain {
  position: relative;
  width: 100%;
  height: 1200px;
  background-color: white;
}

#midmain {
  width: 100%;
  height: 800px;
  background-color: #00AFB2;
}

#supmain {
  content: "";
  display: table;
  clear: both;
  background-color: #F5F8FA;
}

.lateralside {
  height: 100%;
  width: 20%;
  float: left;
}

.centralsup {
  height: 100%;
  width: 60%;
  float: left;
}

#superiorcentral {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: -50px;
}

#superiorcentral img {
  left: 50%;
  position: absolute;
  transform: translate(-50%,30%);
}

 #superiorcentral h1 {
   position: absolute;
   text-align: center;
   left: 50%;
   top: 50%;
   transform: translate(-50%, 80%);
   font-size: 35px;
 }

 #superiorcentral p {
   position: absolute;
   text-align: center;
   left: 50%;
   top: 60%;
   transform: translate(-50%, 70%);
   width: 80%;
   line-height: 30px;
   font-size: 18px;
 }

 #mediumcentral {
   width: 100%;
   background-color: white;
   height: 300px;
   position: relative;

 }

 #leftmediumcentral img {
   position: absolute;
   left: 10%;
   top: 10%;

 }

 #leftmediumcentral button {
   color: white;
   background-color: red;
   padding: 10px 17px;
   position: absolute;
   left: 15%;
   top: 70%;
 }

 #rightmediumcentral {
   position: absolute;
   width: 50%;
   left: 40%;
   top: 10%;
 }

 #rightmediumcentral h1 {
   font-size: 25px;
   margin-bottom: 15px;
 }

 #rightmediumcentral p {
   line-height: 25px;
   margin-bottom: 15px;
 }

#rightmediumcentral p, #rightmediumcentral hr {
  display: inline-block;
}

#rightmediumcentral hr {
  width: 65%;
  right: -20px;
  top: -5px;
  position: relative;
}

#rightmediumcentral li {
  display: inline-block;
  margin: 15px 15px;
}

.lowercentral {
  display: table;
  content: "";
  clear: both;

  width: 100%;
  height: 400px;

}

.lowercentral .lowerblocks {
  width: 30%;
  height: 550px;
  background-color: white;
  float: left;
  margin: 5% 0;
}

.lowercentral .lowerblockz {
  width: 30%;
  height: 550px;
  background-color: white;
  float: left;
  margin: 5% 5%;
}

.lowercentral img {
  left: 50%;
  transform: translate(5%, 10%);
}

.lowercentral {
  text-align: center;
}

.lowercentral hr {
  margin-bottom: 15px;
  width: 80%;
  margin-left: 30px;
}

.lowercentral ul {
  text-decoration: none;
}

.lowercentral li {
  margin: 10px 0px;
}

.lowercentral button {
  color: white;
  background-color: red;
  padding: 10px;
  margin: 10px 0px;
}

.lowercentral h1 {
  margin: 20px 0px;
}

.lowercentral p {
  line-height: 25px;
  margin: 0px 10px 20px 10px;
}

#midmain .centralsup {
  text-align: center;
}

#midmain #uppercentralsup h1 {
  color: white;
  font-size: 40px;
  padding: 100px 60px 20px 60px;

}

#midmain #uppercentralsup p {
  color: white;
  font-size: 17px;
  padding: 30px 100px 60px 100px;
}

#level1, #level2 {
  display: table;
  content: "";
  clear: both;
  width: 100%;
  height: 100px;
}

#lowercentralsup h1, #lowercentralsup .one {
  display: inline-block;
}

#lowercentralsup img {
  display: block;
  padding-top: 20px;
  margin: auto;
}

#lowercentralsup h1 {
  color: white;
  font-size: 40px;
}

#lowercentralsup p {
  color: white;
}

.two {
  font-size: 20px;
}

.externalright {
  padding-top: 25px;
}

.block {
  float: left;
  width: 25%;
  height: 150px;

}

/* #level1 .block {
  background-color: yellow;
}

#level2 .block {
  background-color: white;
} */

.externalleft {
  border-bottom: 2px solid white;

}

.externalleft h1 {
  color: white;
  font-size: 25px;
}

.externalright {
  border-bottom: 2px solid white;

}

.internal {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.plus {
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.central1 {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.central2 {
  border-right: 2px solid white;
}

#superiorbot {
  width: 100%;
  height: 30%;
  content: "";
  display: table;
  clear: both;
}

#superiorbot h1 {
  font-size: 50px;
}

#superiorbot span {
  font-size: 30px;
}

#superiorbot p {
  font-size: 20px;
}

.bottext {
  width: 25%;
  line-height: 35px;
  padding-top: 15%;
  float: left;
}

.botlogos {
  width: 65%;
  float: left;
  margin-left: 10%;
    padding-top: 10%;
}



.botlogos img {
  margin: 0px 25px;
  padding-top: 30px;
}

#inferiorbot {
  content: "";
  display: table;
  clear: both;
  margin-top: 10%;
}

#textside, #facesize {
  width: 50%;
  float: left;

}

#textside {
  margin-top: 10%;
}

#facesize {
  padding-left: 130px;
}

#textside h1 {
  font-size: 40px;
}

#smallp {
  font-size: 12px;
  color: gray;
  margin-top: 20px;
}


#bigp {
  margin-top: 30px;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 30px;
  color: gray;
}

#textside button {
  padding: 30px 50px;
  color: white;
  background-color: red;
}

footer {
  width: 100%;
  height: 750px;
  content: "";
  display: table;
  clear: both;
  background-color: #33475B;
}

.footblocks {
  float: left;
  width: 25%;
  height: 100%;
}

#supfoot {
  width: 100%;
  height: 60%;
}

#inffoot {
  width: 100%;
  height: 40%;
}


.top {
  font-size: 19px;
}

.footblocks ul {
  list-style-type: none;
}

.footblocks li {
  color: white;
  margin: 15px 0px;
}

.footblocks img {
  margin: 0px 5px;
}

#supfoot ul {
  margin-top: 80px;
}

.footblocks button {
  padding: 10px;
  margin: 10px 0px;
}




/* Mi metto la icona del chat */

#chat img {
  position: fixed;
  top: 92%;
  left: 96%;
  width: 50px;
  height: 50px;
}

#prelast {
  list-style-type: none;

  margin-left: 25%;
}

#prelast li {
  display: inline-block;
  color: white;
  margin: 0px 20px 35px 20px;

}

#inffoot hr {
  margin-bottom: 30px;
}

.centralsup a {
  text-decoration: none;
}

.centralsup a:visited {
  color: white;
}



.centralsup a:hover {
  color: blue;
}


#last  {
  list-style-type: none;


}

#last li, #last img {
  display: inline-block;

}

#last #pow {

   margin-left: 60%;
}

#last li {
  color: white;
  margin: 0px 50px;
}

/* Imposto il hover sopra i tre box con info */

.lowerblocks:hover, .lowerblockz:hover, #mediumcentral:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px 5px lightgray;
}
